@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");

:root {
  --color-blue: hsl(238, 75%, 63%);
  --color-blue-darker: hsl(238, 75%, 57%);
  --color-red: hsl(360, 97%, 73%);
  --color-red-darker: hsl(360, 97%, 68%);
  --color-gray-lighter: hsl(208, 38%, 91%);
  --color-gray: hsl(237, 19%, 79%);
  --color-gray-darker: hsl(240, 12%, 56%);
  --color-gray-darkest: hsl(240, 12%, 46%);

  font-family: "Source Sans Pro", system-ui, BlinkMacSystemFont, -apple-system, Roboto ,"Helvetica Neue",sans-serif;
  color: var(--color-gray-darker);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  background: var(--color-gray-lighter) linear-gradient(20deg, var(--color-red) 37%, var(--color-blue) 20%);
}

[hidden] {
  display:none;
}

svg {
  vertical-align: middle;
}

#root {
  background-color: white;
  width: 30rem;
  margin: 2rem auto;
  border-radius: .4rem;
  box-shadow: 0 1em 2em rgba(0, 0, 0, .3);
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 0 1.5rem;
  color: white;
  line-height: 1.5;
}

.footer__link {
  text-decoration: none;
  color: var(--color-blue);
  background-color: white;
  padding: 0 .3em;
}

.footer__link:hover {
  color: var(--color-red);
}